 {% extends 'base.html' %}

{% block title %}
<title>Todo List</title>
{% endblock title %}

{% block content %}
<div class='container'>
</br>
{%if messages%}
    {%for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
{%endif %}
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" class="form-control" name="task" placeholder="Next Task?">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
</br>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scople="col">Task</th>
                <th scople="col">Done</th>
                <th scople="col">Edit</th>
                <th scople="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% if alltask %}
            {% for obj in alltask %}
                {% if obj.done %}
                <tr class="table-success">
                    <td>{{obj.task}}</td>
                    <td>Comleted</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                {% else %}
                    <tr>
                        <td>{{obj.task}}</td>
                        <td>Not Comleted</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}

